[f5]
host = f5device
user = 
password = 
pool = poolname
partition = Common

[splunk]
host = localhost
user = admin
password = 
retries = 3

[email]
recipients = beras@someserver.com
from = splunkf5@nordstrom.net
subject= Splunk F5 Cycle: WARNING
smtprelay = relay.someserver.net

[runinfo]
sleep = 30
breaks = 14
